@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * NumberDrop implementation : © Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * numberdrop.scss
 *
 * NumberDrop stylesheet
 *
 */
@font-face {
  font-family: 'Press Start 2P';
  src: url("img/fonts/PressStart2P-Regular.woff2") format("woff2"), url("img/fonts/PressStart2P-Regular.woff") format("woff"), url("img/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.no-transition {
  transition: none !important; }

html {
  background: #eee !important; }

#topbar {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 0px !important; }
  #topbar #tableinfos {
    font-family: 'Press Start 2P';
    font-size: 10px;
    top: 8px; }
  #topbar #its_your_turn {
    font-family: 'Press Start 2P';
    font-size: 17px;
    top: 23px; }

#numberdrop-topbar {
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  background: #58bae4; }

#page-title {
  background-color: white !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P';
  font-size: 87%;
  font-weight: normal; }

#right-side {
  margin-top: 0px !important; }

.mobile_version #right-side {
  width: 100% !important;
  margin-left: 0px !important;
  margin-top: 35px !important; }

#left-side-wrapper {
  margin-top: 0px !important; }

.player-board {
  background: white !important;
  box-shadow: none !important;
  border-style: solid;
  border-width: 1px; }

#main-holder {
  margin-top: 40px;
  margin-bottom: 200px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap; }

#dice-holder {
  display: flex;
  flex-flow: column; }

.nb-dice-wrap {
  perspective: 150px;
  perspective-origin: 50% 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nb-dice-wrap.used {
    opacity: 0.4; }
  .nb-dice-wrap .nb-dice {
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 2s; }
    .nb-dice-wrap .nb-dice div {
      position: absolute;
      width: 50px;
      height: 50px;
      background: #cd5397d9;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold; }
      .nb-dice-wrap .nb-dice div.dice-back {
        transform: translateZ(-25px) rotateY(180deg); }
      .nb-dice-wrap .nb-dice div.dice-right {
        transform: rotateY(-270deg) translateX(25px);
        transform-origin: top right; }
      .nb-dice-wrap .nb-dice div.dice-left {
        transform: rotateY(270deg) translateX(-25px);
        transform-origin: center left; }
      .nb-dice-wrap .nb-dice div.dice-top {
        transform: rotateZ(180deg) rotateX(-90deg) translateY(-25px);
        transform-origin: top center; }
      .nb-dice-wrap .nb-dice div.dice-bottom {
        transform: rotateZ(180deg) rotateX(90deg) translateY(25px);
        transform-origin: bottom center; }
      .nb-dice-wrap .nb-dice div.dice-front {
        transform: translateZ(25px); }
  .nb-dice-wrap#nb-dice-4 .nb-dice div {
    background: rgba(70, 182, 217, 0.91); }
  .nb-dice-wrap span.tetromino {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center center; }
    .nb-dice-wrap span.tetromino.tetromino-I {
      background-image: url("img/tetromino-I.svg");
      background-size: 80% auto; }
    .nb-dice-wrap span.tetromino.tetromino-L {
      background-image: url("img/tetromino-L.svg");
      background-size: auto 75%; }
    .nb-dice-wrap span.tetromino.tetromino-O {
      background-image: url("img/tetromino-O.svg");
      background-size: 60% auto; }
    .nb-dice-wrap span.tetromino.tetromino-S {
      background-image: url("img/tetromino-S.svg");
      background-size: auto 75%; }
    .nb-dice-wrap span.tetromino.tetromino-T {
      background-image: url("img/tetromino-T.svg");
      background-size: 80% auto; }

#darkmode-switch .checkbox {
  opacity: 0;
  position: absolute; }
#darkmode-switch .label {
  background-color: #2c3037;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 18px;
  height: 26px;
  width: 50px; }
#darkmode-switch .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear, color 0.7s linear; }
#darkmode-switch .checkbox:checked + .label .ball {
  transform: translateX(24px); }

html.darkmode {
  background: linear-gradient(#28303e, #35228e) !important; }
  html.darkmode #topbar {
    background: linear-gradient(#323137, #0c0c0d) !important;
    border-bottom: 1px solid black; }
  html.darkmode #numberdrop-topbar {
    background-color: #016d9b; }
  html.darkmode #page-title {
    background: #292d33 !important;
    border: 1px solid black;
    color: gray; }
  html.darkmode .player-board {
    background: #3b4048 !important; }
  html.darkmode #darkmode-switch label {
    background-color: #777; }
    html.darkmode #darkmode-switch label .ball {
      background-color: #2c3037; }
  html.darkmode .sheet-wrapper .grid-wrapper {
    background-color: #181d31; }
  html.darkmode .sheet-wrapper .nd-cell::before {
    color: gray; }
  html.darkmode .sheet-wrapper .sheet-right-column .shape-constructor #shape-selector div {
    background-color: #89898a; }

.sheet-wrapper {
  width: 650px;
  margin: 10px;
  display: flex;
  flex-flow: column; }
  .sheet-wrapper .sheet-top,
  .sheet-wrapper .sheet-bottom {
    display: flex;
    flex-flow: row; }
  .sheet-wrapper .sheet-top .grid-wrapper {
    padding: 16px;
    width: 272px;
    background: white;
    background-clip: padding-box;
    border: 5px solid transparent;
    position: relative; }
    .sheet-wrapper .sheet-top .grid-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: linear-gradient(to bottom, #f2247b, #00bdd0); }
    .sheet-wrapper .sheet-top .grid-wrapper .nd-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      border-collapse: collapse;
      grid-gap: 1px; }
  .sheet-wrapper .sheet-top .end-of-lines {
    width: 40px;
    padding: 21px 0px;
    margin-left: 10px;
    display: grid;
    grid-gap: 1px;
    border-collapse: collapse; }
    .sheet-wrapper .sheet-top .end-of-lines .nd-cell::before {
      font-size: 13px;
      color: #b7b7b7; }
  .sheet-wrapper .sheet-top .nd-cell {
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px #5ac0ec;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sheet-wrapper .sheet-top .nd-cell.active {
      background: #d5d5d5; }
    .sheet-wrapper .sheet-top .nd-cell[data-row='11'] {
      box-shadow: 0 0 0 1px #f2247b; }
    .sheet-wrapper .sheet-top .nd-cell[data-row='12'] {
      box-shadow: 0 0 0 1px #f2247b; }
    .sheet-wrapper .sheet-top .nd-cell[data-row='13'] {
      box-shadow: 0 0 0 1px #f2247b; }
    .sheet-wrapper .sheet-top .nd-cell[data-row='11'] {
      border-bottom: 2px solid #f2247b;
      position: relative;
      z-index: 2; }
    .sheet-wrapper .sheet-top .nd-cell::before {
      content: attr(data-n);
      font-family: 'Press Start 2P';
      font-weight: bold;
      font-size: 20px; }
    .sheet-wrapper .sheet-top .nd-cell.selected {
      background-color: rgba(0, 253, 253, 0.68);
      color: #cc1fa9; }
    .sheet-wrapper .sheet-top .nd-cell.selectable {
      cursor: pointer; }
      .sheet-wrapper .sheet-top .nd-cell.selectable:hover {
        background-color: rgba(255, 0, 0, 0.5); }
      .sheet-wrapper .sheet-top .nd-cell.selectable.selected:hover {
        color: black; }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='1'] {
      background-color: rgba(255, 3, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='2'] {
      background-color: rgba(255, 6, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='3'] {
      background-color: rgba(255, 9, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='4'] {
      background-color: rgba(255, 12, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='5'] {
      background-color: rgba(255, 15, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='6'] {
      background-color: rgba(255, 18, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='7'] {
      background-color: rgba(255, 21, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='8'] {
      background-color: rgba(255, 24, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='9'] {
      background-color: rgba(255, 27, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='10'] {
      background-color: rgba(255, 30, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='11'] {
      background-color: rgba(255, 33, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='12'] {
      background-color: rgba(255, 36, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='13'] {
      background-color: rgba(255, 39, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='14'] {
      background-color: rgba(255, 42, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='15'] {
      background-color: rgba(255, 45, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='16'] {
      background-color: rgba(255, 48, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='17'] {
      background-color: rgba(255, 51, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='18'] {
      background-color: rgba(255, 54, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell[data-circled='19'] {
      background-color: rgba(255, 57, 0, 0.4); }
    .sheet-wrapper .sheet-top .nd-cell.neighbour-0 {
      border-top: 1px solid black; }
    .sheet-wrapper .sheet-top .nd-cell.neighbour-1 {
      border-right: 1px solid black; }
    .sheet-wrapper .sheet-top .nd-cell.neighbour-2 {
      border-bottom: 1px solid black; }
    .sheet-wrapper .sheet-top .nd-cell.neighbour-3 {
      border-left: 1px solid black; }
  .sheet-wrapper .sheet-top .sheet-right-column {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin-left: 10px; }
    .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus {
      display: flex;
      flex-flow: row;
      justify-content: space-around; }
      .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-identical,
      .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-sequence,
      .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-drop {
        display: flex;
        flex-flow: column; }
        .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-identical .sheet-bonus-grid,
        .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-sequence .sheet-bonus-grid,
        .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-drop .sheet-bonus-grid {
          border: 1px dashed gray; }
          .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-identical .sheet-bonus-grid .sheet-bonus-cell,
          .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-sequence .sheet-bonus-grid .sheet-bonus-cell,
          .sheet-wrapper .sheet-top .sheet-right-column .sheet-bonus .sheet-bonus-drop .sheet-bonus-grid .sheet-bonus-cell {
            width: 30px;
            height: 30px;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Press Start 2P';
            font-weight: bold;
            font-size: 20px;
            color: transparent;
            background: linear-gradient(to bottom, #f2247b, #00bdd0);
            background-clip: text; }
  .sheet-wrapper .sheet-bottom {
    height: 75px;
    align-items: center; }
    .sheet-wrapper .sheet-bottom .sheet-player-name {
      width: 300px;
      text-align: center;
      font-family: 'Press Start 2P';
      font-weight: bold;
      font-size: 20px; }
      .sheet-wrapper .sheet-bottom .sheet-player-name span.robot {
        display: inline-block;
        background: url("img/robot.svg");
        width: 35px;
        height: 54px;
        background-size: 100% 100%;
        vertical-align: middle; }

.shape-constructor {
  height: 250px; }
  .shape-constructor #shape-selector {
    display: flex;
    justify-content: space-evenly; }
    .shape-constructor #shape-selector div {
      width: 40px;
      height: 40px;
      border: 1px solid black;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: white;
      opacity: 0.3;
      cursor: not-allowed; }
      .shape-constructor #shape-selector div.selectable {
        opacity: 1;
        cursor: pointer; }
      .shape-constructor #shape-selector div#shape-selector-0 {
        background-image: url("img/tetromino-I.svg");
        background-size: 80% auto; }
      .shape-constructor #shape-selector div#shape-selector-1 {
        background-image: url("img/tetromino-L.svg");
        background-size: auto 75%; }
      .shape-constructor #shape-selector div#shape-selector-2 {
        background-image: url("img/tetromino-O.svg");
        background-size: 60% auto; }
      .shape-constructor #shape-selector div#shape-selector-3 {
        background-image: url("img/tetromino-S.svg");
        background-size: auto 75%; }
      .shape-constructor #shape-selector div#shape-selector-4 {
        background-image: url("img/tetromino-T.svg");
        background-size: 80% auto; }
  .shape-constructor #shape-constructor-holder {
    display: flex;
    margin: 20px 3px;
    height: 150px;
    align-items: center; }
    .shape-constructor #shape-constructor-holder .shape-constructor-controls {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%; }
      .shape-constructor #shape-constructor-holder .shape-constructor-controls div {
        background-repeat: no-repeat;
        background-position: center center; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-rotate-left {
          background-image: url("img/rotate-left.svg");
          background-size: 70% auto; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-rotate-right {
          background-image: url("img/rotate-right.svg");
          background-size: 70% auto; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-move-left {
          background-image: url("img/move-left.svg");
          background-size: auto 65%; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-move-right {
          background-image: url("img/move-right.svg");
          background-size: auto 65%; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-flip-horizontal {
          background-image: url("img/flip-horizontal.svg");
          background-size: 70% auto; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div#control-clear {
          background-image: url("img/clear.svg");
          background-size: auto 70%; }
        .shape-constructor #shape-constructor-holder .shape-constructor-controls div.disabled {
          cursor: not-allowed;
          filter: grayscale(100%);
          box-shadow: 0 0 0 1px #aaa; }
          .shape-constructor #shape-constructor-holder .shape-constructor-controls div.disabled:hover {
            background-color: transparent; }
    .shape-constructor #shape-constructor-holder #shape-constructor-grid {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(4, auto);
      border-collapse: collapse;
      grid-gap: 1px;
      margin: 0px auto; }
      .shape-constructor #shape-constructor-holder #shape-constructor-grid .nd-cell {
        box-shadow: 0 0 0 1px #b9bcbd;
        position: relative; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid .nd-cell.active {
          background: #d5d5d5; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid .nd-cell:not(.active).selectable {
          cursor: default;
          background: none; }
      .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto); }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-3-0 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-0-3 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-3-1 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-1-3 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-3-2 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-2-3 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-3-3 {
          display: none; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid[data-dim='3'] #shape-constructor-cell-3-3 {
          display: none; }
      .shape-constructor #shape-constructor-holder #shape-constructor-grid #shape-constructor-dial {
        background: #ddd;
        position: absolute;
        top: 27px;
        left: 27px;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
        padding: 4px;
        border: 1px solid black; }
        .shape-constructor #shape-constructor-holder #shape-constructor-grid #shape-constructor-dial div {
          width: 30px;
          height: 30px;
          border: 1px solid #a2a2a2;
          background: #eae7e7;
          font-family: 'Press Start 2P';
          font-size: 16px;
          text-align: center;
          line-height: 31px; }
          .shape-constructor #shape-constructor-holder #shape-constructor-grid #shape-constructor-dial div.disabled {
            cursor: not-allowed;
            background: #dbdbdb;
            color: #959393; }
          .shape-constructor #shape-constructor-holder #shape-constructor-grid #shape-constructor-dial div#shape-constructor-clear {
            background-image: url("img/clear.svg");
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: center center; }

/*# sourceMappingURL=numberdrop.css.map */
