/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * NumberDrop implementation : © Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * numberdrop.scss
 *
 * NumberDrop stylesheet
 *
 */

@font-face {
  font-family: 'Press Start 2P';
  src: url('img/fonts/PressStart2P-Regular.woff2') format('woff2'),
    url('img/fonts/PressStart2P-Regular.woff') format('woff'),
    url('img/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  background: #eee !important;
}

#topbar {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 0px !important;

  #tableinfos {
    font-family: 'Press Start 2P';
    font-size: 10px;
    top: 8px;
  }

  #its_your_turn {
    font-family: 'Press Start 2P';
    font-size: 17px;
    top: 23px;
  }
}

#numberdrop-topbar {
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  background: #58bae4;
}

#page-title {
  background-color: white !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Press Start 2P';
  font-size: 87%;
  font-weight: normal;
}

#right-side {
  margin-top: 0px !important;
}

.mobile_version #right-side {
  width: 100% !important;
  margin-left: 0px !important;
  margin-top: 35px !important;
}

#left-side-wrapper {
  margin-top: 0px !important;
}

.player-board {
  background: white !important;
  box-shadow: none !important;
  border-style: solid;
  border-width: 1px;
}

#main-holder {
  margin-top: 40px;
  margin-bottom: 200px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

#dice-holder {
  display: flex;
  flex-flow: column;
}


@import 'modules/css/dice';
@import 'modules/css/darkmode';
@import 'modules/css/scoresheet';
