$diceSize: 45px;

.nb-dice-wrap {
  perspective: 3 * $diceSize;
  perspective-origin: 50% 50%;
  width: 2 * $diceSize;
  height: 2 * $diceSize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  &#nb-dice-4 {
    flex-basis: 100%;
  }

  &.used {
    opacity: 0.4;
  }

  .nb-dice {
    position: relative;
    width: $diceSize;
    height: $diceSize;
    transform-style: preserve-3d;
    transition: transform 2s;

    div {
      position: absolute;
      width: $diceSize;
      height: $diceSize;
      //      background: #cd5397d9;
      background: #d90084;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Diamond Girl';
      color: white;
      font-size: 32px;
      font-weight: bold;
      text-shadow: 0px 0px 7px #ffffff94;

      &.dice-back {
        transform: translateZ(-$diceSize/2) rotateY(180deg);
      }
      &.dice-right {
        transform: rotateY(-270deg) translateX($diceSize/2);
        transform-origin: top right;
      }
      &.dice-left {
        transform: rotateY(270deg) translateX(-$diceSize/2);
        transform-origin: center left;
      }
      &.dice-top {
        transform: rotateZ(180deg) rotateX(-90deg) translateY(-$diceSize/2);
        transform-origin: top center;
      }
      &.dice-bottom {
        transform: rotateZ(180deg) rotateX(90deg) translateY($diceSize/2);
        transform-origin: bottom center;
      }
      &.dice-front {
        transform: translateZ($diceSize/2);
      }

      .star {
        font-size: 55px;
        margin-top: 18px;
      }
    }
  }

  &#nb-dice-4 .nb-dice div {
    //    background: rgba(70, 182, 217, 0.91);
    background: rgba(70, 182, 217, 1);
  }
}

span.tetromino {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-image: url('img/tetromino.png');
  background-size: 500% 100%;

  &.tetromino-I {
    background-position: 0% 0%;
  }
  &.tetromino-L {
    background-position: 25% 0%;
  }
  &.tetromino-O {
    background-position: 75% 0%;
  }
  &.tetromino-S {
    background-position: 50% 0%;
  }
  &.tetromino-T {
    background-position: 100% 0%;
  }
}

.dice-content {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
