$diceSize: 50px;

.nb-dice-wrap {
  perspective: 3 * $diceSize;
  perspective-origin: 50% 50%;
  width: 2 * $diceSize;
  height: 2 * $diceSize;
  display: flex;
  justify-content: center;
  align-items: center;

  .nb-dice {
    position: relative;
    width: $diceSize;
    height: $diceSize;
    transform-style: preserve-3d;

    div {
      position: absolute;
      width: $diceSize;
      height: $diceSize;
      background: #cd5397d9;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold;

      &.dice-back {
        transform: translateZ(-$diceSize/2) rotateY(180deg);
      }
      &.dice-right {
        transform: rotateY(-270deg) translateX($diceSize/2);
        transform-origin: top right;
      }
      &.dice-left {
        transform: rotateY(270deg) translateX(-$diceSize/2);
        transform-origin: center left;
      }
      &.dice-top {
        transform: rotateX(-90deg) translateY(-$diceSize/2);
        transform-origin: top center;
      }
      &.dice-bottom {
        transform: rotateX(90deg) translateY($diceSize/2);
        transform-origin: bottom center;
      }
      &.dice-front {
        transform: translateZ($diceSize/2);
      }
    }
  }

  span.tetromino {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center center;

    &.tetromino-I {
      background-image: url('img/tetromino-I.svg');
      background-size: 80% auto;
    }
    &.tetromino-L {
      background-image: url('img/tetromino-L.svg');
      background-size: auto 75%;
    }
    &.tetromino-O {
      background-image: url('img/tetromino-O.svg');
      background-size: 60% auto;
    }
    &.tetromino-S {
      background-image: url('img/tetromino-S.svg');
      background-size: auto 75%;
    }
    &.tetromino-T {
      background-image: url('img/tetromino-T.svg');
      background-size: 80% auto;
    }
  }
}
