/********************************
*** Hightlight recent actions ***
********************************/
@for $t from 1 through 33 {
  #game_play_area[data-turn='#{$t}'] .nd-cell[data-n][data-turn='#{$t}'] {
    color: red;
  }

  #game_play_area[data-turn='#{$t}'] .nd-cell[data-circled='#{$t}'] {
    //    border-color:red;
  }

  #game_play_area[data-turn='#{$t}'] [data-circled='#{$t}'] .scribble-circle .scribble-path {
    stroke: red;
  }
}


/********************************
*********************************
********************************/

.sheet-wrapper {
  width: 650px;
  margin: 10px;
  display: flex;
  flex-flow: column;

  .sheet-top,
  .sheet-bottom {
    display: flex;
    flex-flow: row;
  }

  .sheet-top {
    .grid-wrapper {
      padding: 16px;
      width: 272px;
      background: white;
      background-clip: padding-box;
      border: 5px solid transparent;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -5px;
        border-radius: inherit;
        background: linear-gradient(to bottom, #f2247b, #00bdd0);
      }

      .nd-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        border-collapse: collapse;
        grid-gap: 1px;
      }
    }

    .end-of-lines {
      width: 40px;
      padding: 21px 0px;
      margin-left: 10px;
      display: grid;
      grid-gap: 1px;
      border-collapse: collapse;

      .nd-cell {
        background: none !important;

        &::before {
          font-size: 13px;
          color: #b7b7b7;
        }

        svg {
          width: 40px;
          height: 40px;
          stroke: black;
          position: absolute;
        }
      }
    }

    .nd-cell {
      width: 36px;
      height: 36px;
      border: 1px solid transparent;
      box-shadow: 0 0 0 1px #5ac0ec;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &.active {
        background: #d5d5d5;
      }

      @for $i from 11 to 14 {
        &[data-row='#{$i}'] {
          box-shadow: 0 0 0 1px #f2247b;
        }
      }

      &[data-row='11'] {
        border-bottom: 2px solid #f2247b;
        position: relative;
        z-index: 2;
      }

      &::before {
        content: attr(data-n);
        font-family: 'Press Start 2P';
        font-weight: bold;
        font-size: 20px;
      }

      &.selected {
        background-color: rgba(0, 253, 253, 0.68);
        color: #cc1fa9;
      }

      &.selectable {
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 0, 0, 0.5);
        }

        &.selected:hover {
          color: black;
        }
      }

      // highlight score combinations
      @for $i from 1 to 20 {
        &[data-circled='#{$i}'] {
          background-color: rgba(200, 3 * $i, 0, 0.4);
        }
      }

      &.border-0 {
        border-top: 1px solid black;
      }
      &.border-1 {
        border-right: 1px solid black;
      }
      &.border-2 {
        border-bottom: 1px solid black;
      }
      &.border-3 {
        border-left: 1px solid black;
      }
    }

    .sheet-right-column {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      margin-left: 10px;

      .sheet-bonus {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        .sheet-bonus-header {
          width: 100px;
          height: 50px;
          background: url('img/column-headers.png');
          background-size: 400% 100%;
          background-repeat: no-repeat;
        }
        .sheet-bonus-identical .sheet-bonus-header {
          background-position: 0% 0%;
        }
        .sheet-bonus-sequence .sheet-bonus-header {
          background-position: 33.33% 0%;
        }
        .sheet-bonus-drop .sheet-bonus-header {
          background-position: 66.66% 0%;
        }

        .sheet-bonus-identical,
        .sheet-bonus-sequence,
        .sheet-bonus-drop {
          display: flex;
          flex-flow: column;

          .sheet-bonus-grid {
            border: 1px dashed gray;
            margin: 0px 20px;
            padding-bottom: 7px;
            position: relative;

            .sheet-bonus-cell {
              position: relative;
              width: 30px;
              height: 30px;
              margin: 10px auto;
              display: flex;
              justify-content: center;
              align-items: center;
              background: url('img/combination-columns.png');
              background-size: 200% 600%;

              @for $i from 1 to 6 {
                &:nth-child(#{$i}) {
                  background-position-y: ($i - 1) * 20%;
                }
              }

              svg {
                width: 50px;
                height: 50px;
                stroke: black;
                position: absolute;
              }

              &:last-child {
                background: none;
                width: 40px;
                height: 20px;
                margin: 0px;
                background: #eee;
                position: absolute;
                bottom: -10px;
                left: 10px;

                &::before {
                  content: '+10';
                  color: #b7b7b7;
                  font-weight: bold;
                  font-family: 'Press Start 2P';
                  font-size: 13px;
                }
              }
            }
          }

          &.sheet-bonus-identical,
          &.sheet-bonus-sequence {
            .sheet-bonus-grid::after {
              content: '⌄⌄⌄⌄⌄⌄⌄';
              position: absolute;
              height: 105px;
              left: 10px;
              bottom: -93px;

              background: linear-gradient(to bottom, #aaa4a4 25%, #22a9bf 40%, #2fc5dd 60%, #aaa4a4 75%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              text-fill-color: transparent;
              background-size: auto 200%;
              writing-mode: vertical-rl;

              font-family: 'Press Start 2P';
              letter-spacing: -20px;
              font-size: 31px;
              font-weight: bold;
            }

            &.animate .sheet-bonus-grid::after {
              animation: textShineVert 1.5s linear infinite;
              @keyframes textShineVert {
                to {
                  background-position: 0% -200%;
                }
              }
            }
          }

          &.sheet-bonus-drop .sheet-bonus-grid {
            border: none;
            .sheet-bonus-cell {
              background-position-x: 100%;

              &::before {
                content: '>>>>>';
                position: absolute;
                left: -153%;

                background: linear-gradient(to right, #aaa4a4 25%, #22a9bf 40%, #2fc5dd 60%, #aaa4a4 75%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
                background-size: 200% auto;
                font-family: 'Press Start 2P';
                font-size: 10px;
                font-weight: bold;
                letter-spacing: -1.5px;

                &.animate {
                  animation: textShine 1.5s linear infinite;
                  @keyframes textShine {
                    to {
                      background-position: -200%;
                    }
                  }
                }
              }

              &:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .sheet-bottom {
    height: 75px;
    align-items: center;

    .sheet-player-name {
      width: 300px;
      text-align: center;
      font-family: 'Press Start 2P';
      font-weight: bold;
      font-size: 20px;

      span.robot {
        display: inline-block;
        background: url('img/robot.svg');
        width: 35px;
        height: 54px;
        background-size: 100% 100%;
        vertical-align: middle;
      }
    }
  }
}
