.shape-constructor {
  height: 250px;

  #shape-selector {
    display: flex;
    justify-content: space-evenly;

    div {
      width: 40px;
      height: 40px;
      border: 1px solid black;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: white;
      opacity: 0.3;
      cursor: not-allowed;

      &.selectable {
        opacity: 1;
        cursor: pointer;
      }

      &#shape-selector-0 {
        background-image: url('img/tetromino-I.svg');
        background-size: 80% auto;
      }
      &#shape-selector-1 {
        background-image: url('img/tetromino-L.svg');
        background-size: auto 75%;
      }
      &#shape-selector-2 {
        background-image: url('img/tetromino-O.svg');
        background-size: 60% auto;
      }
      &#shape-selector-3 {
        background-image: url('img/tetromino-S.svg');
        background-size: auto 75%;
      }
      &#shape-selector-4 {
        background-image: url('img/tetromino-T.svg');
        background-size: 80% auto;
      }
    }
  }

  #shape-constructor-holder {
    display: flex;
    margin: 20px 3px;
    height: 150px;
    align-items: center;

    .shape-constructor-controls {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%;

      div {
        background-repeat: no-repeat;
        background-position: center center;

        &#control-rotate-left {
          background-image: url('img/rotate-left.svg');
          background-size: 70% auto;
        }
        &#control-rotate-right {
          background-image: url('img/rotate-right.svg');
          background-size: 70% auto;
        }
        &#control-move-left {
          background-image: url('img/move-left.svg');
          background-size: auto 65%;
        }
        &#control-move-right {
          background-image: url('img/move-right.svg');
          background-size: auto 65%;
        }
        &#control-flip-horizontal {
          background-image: url('img/flip-horizontal.svg');
          background-size: 70% auto;
        }
        &#control-clear {
          background-image: url('img/clear.svg');
          background-size: auto 70%;
        }

        &.disabled {
          cursor: not-allowed;
          filter: grayscale(100%);
          box-shadow: 0 0 0 1px #aaa;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    #shape-constructor-grid {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(4, auto);
      border-collapse: collapse;
      grid-gap: 1px;
      margin: 0px auto;

      .nd-cell {
        box-shadow: 0 0 0 1px #b9bcbd;
        position: relative;

        &.active {
          background: #d5d5d5;
        }

        &:not(.active).selectable {
          cursor: default;
          background: none;
        }
      }

      &[data-dim='3'] {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);

        @for $i from 0 to 4 {
          #shape-constructor-cell-3-#{$i} {
            display: none;
          }

          #shape-constructor-cell-#{$i}-3 {
            display: none;
          }
        }
      }

      #shape-constructor-dial {
        background: #ddd;
        position: absolute;
        top: 27px;
        left: 27px;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
        padding: 4px;
        border: 1px solid black;

        div {
          width: 30px;
          height: 30px;
          border: 1px solid #a2a2a2;
          background: #eae7e7;
          font-family: 'Press Start 2P';
          font-size: 16px;
          text-align: center;
          line-height: 31px;

          &.disabled {
            cursor: not-allowed;
            background: #dbdbdb;
            color: #959393;
          }

          &#shape-constructor-clear {
            background-image: url('img/clear.svg');
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
    }
  }
}
